MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE_ALETHIA=alethia
MYSQL_DATABASE_COURSES=course_management
MYSQL_DATABASE_LIBRARY=aletheia_library
JWT_SECRET=CHANGE_ME_CHANGE_ME_CHANGE_ME_123456
GMAIL_APP_PASSWORD=
CLOUDINARY_API_SECRET=CHANGE_ME
LIBRARY_INTERNAL_SECRET=LIBRARY_INTERNAL_SECRET_123
