<div class="explore-wrap">
    <button class="explore-btn" type="button" (click)="toggle()">
      Explore
    </button>
  
    <div class="mega" *ngIf="open">
      <!-- Col 1 -->
      <div class="col">
        <div class="col-title">Categories</div>
  
        <div *ngIf="loadingMenu" class="muted">Loading...</div>
  
        <button
          type="button"
          class="item"
          *ngFor="let c of menu"
          [class.active]="c.label === activeCategory?.label"
          (mouseenter)="setCategory(c)">
          <span class="label">{{ c.label }}</span>
          <span class="chev">›</span>
        </button>
  
        <div *ngIf="!loadingMenu && (!menu || menu.length === 0)" class="muted">
          No categories found.
        </div>
      </div>
  
      <!-- Col 2 -->
      <div class="col">
        <div class="col-title">{{ activeCategory?.label || '—' }}</div>
  
        <div *ngIf="!activeCategory" class="muted">Select a category</div>
  
        <ng-container *ngIf="activeCategory">
          <button
            type="button"
            class="item"
            *ngFor="let sc of (activeCategory ? activeCategory.subCategories : [])"
            [class.active]="sc === activeSubCategory"
            (mouseenter)="setSubCategory(sc)">
            <span class="label">{{ sc }}</span>
            <span class="chev">›</span>
          </button>
  
          <div *ngIf="!activeCategory" class="muted">
            Hover a category to see top courses.
          </div>
        </ng-container>
      </div>
  
      <!-- Col 3 -->
      <div class="col">
        <div class="col-title">Top courses</div>
  
        <div *ngIf="loadingTop" class="muted">Loading courses...</div>
  
        <button
        class="course-item"
        *ngFor="let co of topCourses"
        (click)="goToCourse(co.id)">
        {{ co.title }}
      </button>
  
        <div *ngIf="!loadingTop && topCourses.length === 0" class="muted">
          No courses found.
        </div>
  
        <button class="viewall" type="button" (click)="viewAll()">
          View all
        </button>
      </div>
    </div>
  </div>